Packages
.build

src/vendor/**/test*
src/vendor/**/tests*
src/vendor/**/Tests*

**/*node_modules

**.git
.idea
.vscode
.editorconfig
**.gitignore
**.gitattributes
**.sass-cache
*.env*
src/composer.json

*.config.js
?ulpfile.js
?untfile.js
src/package.json
src/phpunit.xml
readme.md
phpspec.yml

Dockerfile
docker-compose.yml
docker-compose-test-ci.yml
docker-compose-staging.yml
docker-compose-prod.yml

_ide_helper.php

run
run.ps1