**/node_modules
**/vendor
.build
Packages

Dockerfile*
docker-compose*.yml
.dockerignore
*.env*
images/
!images/php/*.ini
!images/nginx/*.conf
!images/database/*.sql
run
run.ps1

.idea
.vscode
.editorconfig
**/.git
**/.gitignore
**/.gitattributes
**/.sass-cache
_ide_helper.php
.phpunit.result.cache
src/phpunit.xml
phpspec.yml

# --- Documentación ---
*.md
LICENSE

# --- Logs y Temporales ---
**/storage/logs/*.log
**/storage/framework/cache/data/*
**/storage/framework/sessions/*
**/storage/framework/views/*.php