COMPOSE_PROFILES=laravel,mysql #postgres

USER=laravel_user
USER_UID=1000
USER_GID=1000
# APP_DOMAIN=app.local
CONTAINER_PREFIX=laravel_app
APPLICATION_FOLDER=LARAVEL_FOLDER_HERE # Your application where laravel files are.
DOCKER_RESTART_POLICY=no

## This credentials are local environment oriented - DON'T USE ON PRODUCTION!
DB_NAME=laravel_db
DB_EMAIL=admin@admin.com
DB_USER=admin
DB_USER_PASSWORD=secret
DB_ROOT_PASSWORD=secret
DB_ALLOW_EMPTY_PASSWORD=yes
DB_PORT=3306

REDIS_PASSWORD=secret