USER=laravel_user
USER_UID=1000
USER_GID=1000
# APP_DOMAIN=app.local

LARAVEL_IMAGE_NAME=laravel_app_image
LARAVEL_CONTAINER_NAME=laravel_app
APPLICATION_FOLDER=./LARAVEL_FOLDER # Your application where laravel files are.